/* MATTBOX STYLES */


/* Mattbox Header Styles */

body {
	font-family: Tahoma,Calibri,Verdana,Geneva,sans-serif;
	font-size:15px;
	color: #3E3E3E;
    line-height: 1.23;
}
.shoutHeight {
	line-height:20px;
}
body h3 {
	display:block;
}

body a {
	text-decoration:none;
	color:#417394;
}

#greeting {
	display:inline;
}

#quickLinks {
	margin:5px;
}

#quickLinks img {
	width: 15px;
	height: 15px;
}

#rep {
	color:gray;
	cursor:help;
	font-weight:bold;
	font-size:12px;
}

#dot {
	border-bottom: 1px dotted gray;
}

#mattboxNotice
{
	padding-left:5px;
}

.privatemsg a {
	margin:0px;
	padding:0px;
}

.sbheader {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #024e82;
	background: url('images/sidebar.png');
	margin-left:auto;
	margin-right:auto;
	width:1128px;
	height: 24px;
	text-align:center;
	text-shadow: #FFFFFF 0 0 15px;
}

.cell {
	line-height:26px;
	color:#FFFFFF;
}

.sbheader a {
	color:#FFFFFF;
	text-decoration:none;
}


/* Mattbox Body Styles  */


.shoutbox {
	margin-left:auto;
	margin-right:auto;
	width:1128px;
	/*height:318px;*/
	border: 1px solid #024e82;
	border-top: 0px;
}

#shoutlist {
	padding-top:10px;
}

.shoutbox .content {
	margin-top:-5px;
	padding-left: 5px;
	word-wrap:break-word;
	margin-right:10px;
	margin-bottom:20px;
	font-family: Tahoma, Verdana, sans-serif;
    color: #3e3e3e;
    height: 210px;
	overflow: auto;

}
.content a {
	text-decoration:none;
	color:#417394;
}
.content a:hover {
	text-decoration:underline;
}

#inputTable {
	border-collapse:collapse;
	margin:0px;
	padding:0px;
}

.shoutbox #tabs #sblinks div {
	display:inline;
	margin-bottom:50px;
}
.shoutbox #tabs #sblinks a {
	text-decoration:none;
	color: #417394;
}
.shoutbox #tabs #sblinks a:hover {
	color: #FF0000;
	text-decoration:underline;
}
.shoutbox #tabs #sblinks div a {
	text-decoration:none;
	display:inline-block;
	margin-left: -5px;
}

.shoutbox .newquery form {
	padding-left: 5px;
}


#text {
	width: 500px;
	height: 18px;
	font-size:12px;
}

.text {
	width: 500px;
	height: 18px;
	font-size:12px;
}

select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #6B91AB;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font: 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    outline: 0 none;
    padding: 4px;
}
#updateshout {
	width: 500px;
	height: 20px;
}

#button {
	background: url('images/button.jpg'); 
    border: 1px solid #A8A8A8;
    border-radius: 0 0 0 0;
    color: #424242;
    font: bold 11px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    padding: 2.5px 2px;
}

#button:hover {
	border-style:solid;
	border-width:1px;
	border-color: #a8a8a8;
	background: url('images/buttonhover.jpg'); 
	color: #024e82;
}

#error {
	padding-left: 10px;
	background-color:#ffeb90;
}

#tabs p a {
	text-decoration: none;
	padding-left: 5px;
}

#tabs p a:hover {
	text-decoration: underline;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

#notice {
	height:15px;
	display:inline;
}